<form autocomplete="off">

    <mat-form-field>
        <input matInput placeholder="이름" [formControl]="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="나이" [formControl]="age">
    </mat-form-field>

    <mat-form-field>
        <mat-select [formControl]="gender">
            <mat-option value="">전체</mat-option>
            <mat-option value="남자">남자</mat-option>
            <mat-option value="여자">여자</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="last" (click)="search();">검색</button>

</form>
