<h4>사용자 등록</h4>

<form [formGroup]="form" autocomplete="off" novalidate>

  <div class="row">

    <div class="col-lg-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="name" formControlName="name">
        <mat-error *ngIf="name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="age" formControlName="age">
        <mat-error *ngIf="age.hasError('required')">
          Age is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <mat-form-field>
        <mat-label>gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="남자">남자</mat-option>
          <mat-option value="여자">여자</mat-option>
        </mat-select>
        <mat-error *ngIf="gender.hasError('required')">
          Gender is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-2 col-zip-no">
      <app-daum-address (result)="setAddr($event)" [zipNo]="zipNo.value"></app-daum-address>
    </div>

    <div class="col-lg-7">
      <mat-form-field class="full-width">
        <input matInput placeholder="기본주소" formControlName="baseAddr">
      </mat-form-field>
    </div>

    <div class="col-lg-3">
      <mat-form-field class="full-width">
        <input matInput placeholder="상세주소" formControlName="detailAddr">
      </mat-form-field>
    </div>
  </div>

</form>

<div class="text-center">
  <button mat-raised-button (click)="cancel();">취소</button>
  <button mat-raised-button color="primary" class="last" (click)="save();">저장</button>
</div>
